doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel = 'stylesheet' , href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(type = 'text/javascript' , src ='/js/nav.js')
    //script(type = 'text/javascript' , src ='./server.js')
    body
     block navbar
    .navbar
          span( class = "navbar-toggle" , id="js-navbar-toggle"): i.fa.fa-bars
          a(href="#", class="logo"): img(src="../image/tomtom.png" alt="Application icon" , style= "height:50px ; width:50px;" )
          ul(class="main-nav" id="js-menu")
           li: a(href="/login" class="nav-links")  Home
           li: a(href="/register" class="nav-links")  Freeze Requests
           li: a(href="/login" class="nav-links")  Custom Environments
           li: a(href="/register" class="nav-links") About
           li: a(href="/login" class="nav-links") Report Environment issues

    block content
    .container-mainpage
        .container-middle
        p(style= "text-align: center;")  Table of environments in real time automated view.
        .container-middle-table
          table.table-default.table-striped.table-bordered.sortable(border="2")
                    thead(data-header="true")
                      tr
                        th(data-sort-column="true"): a(href="/enviroment",style="text-decoration: none; color:black") Algol &nbsp
                         img.className#IdName(src="../image/snowflake.jpg", style="height:20px ;width:20px")
                        th(data-sort-column="true"): a(href="/enviroment", style="text-decoration: none;color:black") Polar
                        th(data-sort-column="true"): a(href="/enviroment",style="text-decoration: none;color:black") Vega
                        th(data-sort-column="true"): a(href="/enviroment",style="text-decoration: none;color:black") Nebula
                        th(data-sort-column="true"): a(href="/enviroment",style="text-decoration: none;color:black") Solaris
                        th(data-sort-column="true"): a(href="/enviroment",style="text-decoration: none;color:black")  Pre-Production
                        th(data-sort-column="true"): a(href="/enviroment",style="text-decoration: none;color:black") Production
                      tr
                    tbody(data-body="true")
         .container-middle
         p &nbsp
         .container-middle(style ="display: flex; justify-content: center;")
          table(border="1", cellspacing="2" , style="align-self: center;text-align: center;")
                        thead(data-header="true")
                        tr
                        th(data-sort-column="true", colspan="2") TABLE LEGEND

                        tbody(data-body="true")
                        tr
                        th(data-sort-column="true") ABBREVIATION
                        th(data-sort-column="true") MEANING
                        tr
                        td(data-sort-column="true") RED
                        td(data-sort-column="true") Emergency Freeze is happening.
                        tr
                        td(data-sort-column="true") ORANGE
                        td(data-sort-column="true") Regular Freeze is happening.
                        tr
                        td(data-sort-column="true")
                            img.className#IdName(src="../image/snowflake.jpg", style="height:20px ;width:20px")
                        td(data-sort-column="true") Freeze logo. Shown when the freeze is requested . Also shown is taking place(live).
    block footer
    .footer
      ul(class="footer-nav" id="footer-js")
                &  Copyright Tomtom
