doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel = 'stylesheet' , href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(type = 'text/javascript' , src ='/js/nav.js')
    //script(type = 'text/javascript' , src ='./server.js')
    body
     block navbar
    .navbar
          span( class = "navbar-toggle" , id="js-navbar-toggle"): i.fa.fa-bars
          a(href="#", class="logo"): img(src="../image/tomtom.png" alt="Application icon" , style= "height:50px ; width:50px;" )
          ul(class="main-nav" id="js-menu")
           li: a(href="/login" class="nav-links")  Home
           li: a(href="/register" class="nav-links")  Freeze Requests
           li: a(href="/login" class="nav-links")  Custom Environments
           li: a(href="/register" class="nav-links") About
           li: a(href="/login" class="nav-links") Report Environment issues

    block content
    .container-mainpage
      table.table-default.table-striped.table-bordered.sortable(border="1", cellspacing="2", style="text-align: center;")
                         thead(data-header="true")
                         tr()
                           th(data-sort-column="true", colspan="5") Production Enviroment &nbsp
                            img.className#IdName(src="../image/snowflake.jpg", style="height:30px ;width:30px")

                         tbody(data-body="true")
                          tr()
                             td(data-sort-column="true") Applications
                             td(data-sort-column="true") Versions
                             td(data-sort-column="true") Deployments
                             td(data-sort-column="true") Dates and Time
                             td(data-sort-column="true") Team/User
    block footer
    .footer
      ul(class="footer-nav" id="footer-js")
                &  Copyright Tomtom
