doctype html
html
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/index.css')
    link(rel = 'stylesheet' , href = 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    // link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    script(type = 'text/javascript' , src ='/js/nav.js')
    script( type = 'text/javascript' , src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5rq4YGUkXOnnIejOvg4F7h66Pa71RZeA&callback=initialize")
    //script(type = 'text/javascript' , src ='./server.js')
    body
     block navbar
    .navbar
          span( class = "navbar-toggle" , id="js-navbar-toggle"): i.fa.fa-bars
          a(href="#", class="logo"): img(src="../image/testing.png" alt="Application icon" , style= "height:50px ; width:50px;border-radius: 50%;" )
          ul(class="main-nav" id="js-menu")
           li: a(href="/login" class="nav-links")  Login
           li: a(href="/register" class="nav-links")  Register
    block content
    .container-mainpage
          if message
           h1 Hello!
           p #{message}
          if extra-message
           span.small {#extra-message}
           span &nbsp;

    #map
    block footer
    .footer
      ul(class="footer-nav" id="footer-js")
               CopyRight & Shristy




