extends layout
append content
 .container
  form.form-signin(action="/login/", method="post")
    h2.form-signin-heading Please sign in
    input.input-block-level(type="text", name="email", placeholder="Email address")
    | </br>
    input.input-block-level(type="password", name="password", placeholder="Password")
    | </br>
    label.checkbox.
    input(type="checkbox" ,name= "Remember me " ,value="remember me")
    | Remember me</br>
    button.btn.btn-large.btn-primary(type="submit") Sign in