extends layout
append content
 .container
  form.form-signin(action="/register/", method="post")
    h2.form-signin-heading Please register!
    input.input-block-level(type="text", name="email", placeholder="Email address")
    | </br>
    input.input-block-level(type="password", name="password", placeholder="Password")
    | </br>
    label.checkbox.
    input(type="checkbox" ,name= "Consent " ,value="consent")
    | I  am ready to explore more :) </br>
    button.btn.btn-large.btn-primary(type="submit") Register