* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li a {
    text-align: center;
    margin: 15px  0px;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    height: 20px!important;
    width:20px!important;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
}
.main-nav {
    list-style-type: none;
    display: none;
}
.active {
  display: block;
}
@media screen and (min-width: 768px) {

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 13px;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

   .navbar-toggle {
       display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }
    /** The layout page csss **/
    .container-mainpage {
        position: absolute;
        top: 100px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0px;
    }

   .footer {
     position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
     padding: 1rem;
     background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf   100%);
     text-align: center;
   }

.table-default {
	width:100%;
	thead {
		> tr {
			> th {
				font-weight:500;
        font-size:12px;
        text-transform:uppercase;
        position:relative;
        &:not(:first-of-type){
          border-left:1px solid #eee;
        }
        &:not(:last-of-type) {
          border-right:1px solid #eee;
        }
			}
		}
	}
	tbody {
		> tr {
			> td {
				padding:$gap-sm;
				vertical-align:top;
				color:#888;
			}
		}
	}
	&.table-striped tbody tr:nth-of-type(odd) {
		background:rgba(black,0.025);
	}
  @media screen and (max-width: 767px) {
		border: 0;
		thead {display:none;}
		tr {
			margin-bottom: 10px;
			display: block;
			border:1px solid #eee;
			background:white;
		}
		td {
			text-align: right;
			font-size: 13px;
			border-bottom: 1px solid #eee;
			border-top:0 !important;
			&:last-child {
				border-bottom: 0;
			}
			&:before {
				content: attr(data-label);
				float: left;
				text-transform: uppercase;
			}
		}
		tbody td, tbody th {
			display:block !important
		}
		.block-column {
			text-align:left;
			&:before {
				float:none;
				display:block;
				margin-bottom:$gap-xs;
			}
		}
	}
}

